<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">Channels</h2>
    <ul class="channel_list">
      <% @rooms.each do |room| %>
      <li class="channel active">
        <a class="channel_name">
          <span class="unread">
            0
          </span>
          <span>
            <span class="prefix">#</span>
            <%= room.name %>
          </span>
        </a>
      </li>
      <% end %>
    </ul>

  </div>
  <div class="listings_direct-messages"></div>
  <p class="disclaimer">This demo is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
</div>

<div class="message-history" data-channel='room' data-room-id="<%= @room.id %>">
  <% @room.messages.includes(:user).each do |message| %>
    <%= render partial: 'messages/message', locals: {message: message} %>
  <% end %>
</div>

<div class="footer">
  <div class="user-menu">
    <span class="user-menu_profile-pic"></span>
    <% if user_signed_in? %>
      <span class="user-menu_username"><a href="#"><%= current_user.name %></a></span>
    <% else %>
      <span class="user-menu_username"><%= link_to('Log in', new_user_session_path) %></span>
    <% end %>
    <span id="user-status-<%= current_user.id %>" class="user-status icon"></span>
    <span class="connection_status">online</span>
  </div>
  <div class="input-box">
    <%= form_for([@room, Message.new], remote: true) do |f| %>
      <%= f.text_area :text, class: 'input-box_text', placeholder: "Enter message", data: {behavior: "room_speaker" } %>
    <% end %>
  </div>
</div>
