<!DOCTYPE html>
<html>
  <head>
    <title>Rails5 Demo Application</title>
    <meta name="description" content="Rails5 demo application that demostrate action cable and new rails 5 features">
    <meta name="current_user" id="<%= current_user.try(:id) %>" username="<%= current_user.try(:name) %>" badge="<%= current_user.try(:short_name) %>" email="<%= current_user.try(:email) %>">
    <meta name="logged_in" authenticated="<%= user_signed_in? %>" />
    <meta name="env" env="<%= Rails.env %>" />
    <link rel="dns-prefetch" href="https://oss.maxcdn.com/" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="header">
      <div class="team-menu">
        RealChat
      </div>
      <div class="channel-menu">
        <span class="channel-menu_name">
          <span class="channel-menu_prefix">#</span>
          slack
        </span>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
